/* Article section */

.article {
  max-width: var(--width-4xl);
  margin-inline: auto;
}

.article-content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.article-list {
  position: sticky;
  top: var(--spacing-24);
  list-style: none;
  margin-inline: var(--spacing-4);
  max-width: var(--width-xs);
}

.article-list li {
  margin-bottom: var(--spacing-4);
  font-weight: 600;
}

.article-list a {
  text-decoration: none;
  font-family: var(--text);
  color: var(--foreground);
  font-size: var(--font-sm);
  font-weight: 600;
}

.article__header {
  margin-bottom: 16px;
  grid-column-start: 2;
}

.article__header .article-metadata {
  margin-bottom: 8px;
}

.audio {
  text-align: center;
}

.pie-cita {
  text-align: center;
}

.content audio {
  width: 100%;
  margin-block: var(--spacing-2);
}

.content h2 {
  scroll-margin-top: var(--spacing-24);
}

.content blockquote {
  margin-block: var(--spacing-8);
  padding: var(--spacing-4);
  background-color: var(--muted);
  border-radius: var(--rounded-md);
  font-style: italic;
  color: var(--muted-foreground);
  text-align: center;
}

.content cite {
  display: block;
  margin-top: var(--spacing-4);
  font-weight: 600;
  text-align: right;
  line-height: var(--leading-6);
}

.content cite::before {
  content: "— ";
}

@media (max-width: 40rem) {
  .article-content {
    grid-template-columns: 1fr;
  }
  .article-list {
    display: none;
  }
}
