/* Social Links */
.social-links {
  list-style: none;
  padding: 0;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1em 40px;
}

.social-links a {
  color: var(--muted-foreground-subtle);
  position: relative;
  bottom: 0;
  transition: bottom .3s ease-in-out;
}
.social-links li {
  display: inline-block;
  margin-right: 40px;
}

.social-links a:hover {
  bottom: 10px;
  color: var(--muted-foreground);
}
